<div class="grid">
    <div class="col-12 md:col-6">
        <div class="p-fluid">
            <div class="field">
                <label htmlFor="name1">Name</label>
                <input pInputText id="name" type="text" />
            </div>
            <div class="field">
                <label htmlFor="email1">Code (Abbreviation)</label>
                <input pInputText id="abbreviation" type="text" />
            </div>
            <div class="field">
                <label htmlFor="age1">Value</label>
                <input pInputText id="value" type="text" />
            </div>
            <div class="field">
                <label htmlFor="name1">Quantity</label>
                <input pInputText id="quantity" type="text" />
            </div>
        </div>
    </div>
</div>
