<div class="grid">
    <div class="col-12 md:col-6 ml-auto mr-auto">
        <div class="p-fluid">
            <div class="field">
                <label htmlFor="name1">Name</label>
                <input pInputText id="name" type="text" />
            </div>
            <div class="field">
                <label htmlFor="email1">Type</label>
                <p-dropdown
                    [options]="cities"
                    [(ngModel)]="selectedCity"
                    placeholder="Select a type" />
            </div>
            <div class="flex-container"
                 style="display: flex; flex-direction: column; align-items: center; padding-top: 2rem"
            >
                <p-button icon="pi pi-check" [rounded]="true" />
            </div>
        </div>
    </div>
</div>
