<div class="grid">
    <div class="col-12 md:col-6 ml-auto mr-auto">
        <div class="p-fluid">

            <div class="field">
                <label htmlFor="email1">Asset</label>
                <p-dropdown
                    [options]="assets"
                    [(ngModel)]="selectedAsset"
                    optionLabel="name"
                    placeholder="Select a asset" />
            </div>
            <div class="field" *ngIf="selectedAsset">
                <label htmlFor="name1">New name</label>
                <input pInputText id="name" type="text" [(ngModel)]="selectedAsset.name" />
            </div>
            <div class="field" *ngIf="selectedAsset">
                <label htmlFor="name1">Code</label>
                <input pInputText id="code" type="text" [(ngModel)]="selectedAsset.abbreviation" />
            </div>
            <div class="field" *ngIf="selectedAsset">
                <label htmlFor="name1">Value</label>
                <input pInputText id="value" type="text" [(ngModel)]="selectedAsset.lastValue" />
            </div>
            <div class="flex-container"
                 style="display: flex; flex-direction: column; align-items: center; padding-top: 2rem"
            >
                <p-button icon="pi pi-check" [rounded]="true" />
            </div>
        </div>
    </div>
</div>
