<div class="grid">
    <div class="col-12 md:col-6 ml-auto mr-auto">
        <div class="p-fluid">
            <div class="field">
                <label htmlFor="month">Month</label>
                <input pInputText id="month" type="text" />
            </div>
            <div class="field">
                <label htmlFor="year">Year</label>
                <input pInputText id="year" type="text" />
            </div>
            <div class="field">
                <label htmlFor="value">Value</label>
                <input pInputText id="value" type="text" />
            </div>
            <div class="field">
                <label htmlFor="type">Type</label>
                <input pInputText id="type" type="text" />
            </div>
            <div class="field">
                <label htmlFor="description">Description</label>
                <input pInputText id="description" type="text" />
            </div>
            <div class="field">
                <label htmlFor="isIncome">Return type</label>
                <p-selectButton
                    [options]="stateOptions"
                    optionLabel="label"
                    optionValue="value" />
            </div>

            <h3 class="uppercase">{{ message }}</h3>
            <div class="flex-container"
                 style="display: flex; flex-direction: column; align-items: center; padding-top: 2rem"
            >
                <p-button icon="pi pi-check" [rounded]="true" />
            </div>
        </div>
    </div>
</div>
