<div class="grid">
    <div class="col-12 md:col-6 ml-auto mr-auto">
        <div class="p-fluid">
            <div class="field">
                <label htmlFor="email1">Return</label>
                <p-dropdown
                    [options]="returns"
                    [(ngModel)]="selectedReturn"
                    optionLabel="type"
                    placeholder="Select an income" />
            </div>
            <div class="field" *ngIf="selectedReturn">
                <label htmlFor="type">New name</label>
                <input pInputText id="type" type="text" [(ngModel)]="selectedReturn.type" />
            </div>

            <h3 class="uppercase">{{ message }}</h3>

            <div class="flex-container"
                 style="display: flex; flex-direction: column; align-items: center; padding-top: 2rem"
            >
                <p-button icon="pi pi-check" [rounded]="true" />
            </div>
        </div>
    </div>
</div>
