<div class="grid">

    <div class="col-12">
        <div class="card card-w-title flex flex-wrap">
            <div class="col-12">
                <h5 class="uppercase">Asset section : handle your assets here</h5>
                <p-tabMenu styleClass="mb-5" [model]="routeItems"></p-tabMenu>
            </div>
            <div class="col-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="grid">
            <div class="col-12">
                <div class="card">
                    <h5>ASSETS</h5>
                    <p-table [value]="assets" dataKey="name" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th></th>
                                <th>NAME</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-asset>
                            <tr>
                                <td><img src="assets/demo/images/asset/{{asset.abbreviation | lowercase}}.png" [alt]="asset.name" height="25" width="25" style="border-radius: 50%" class="shadow-4" /></td>
                                <td>{{asset.name}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>

</div>
