<div class="card">
    <p-tabView styleClass="tabview-custom" (onChange)="onTabChange($event)">
        <ng-container *ngFor="let portfolio of portfolios">
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i [class]="getIconByPortfolio(portfolio.type)"></i>
                    <span>&nbsp; {{ portfolio.name }}</span>
                </ng-template>

                <div class="col-12">
                    <div class="card">
                        <h5>FINANCIAL CHART - {{ portfolio.value | currency:'USD' }}</h5>
                        <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card">
                        <h5>ASSETS</h5>
                        <p-table [value]="portfolio.portfolioLines" dataKey="name" responsiveLayout="scroll">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-portfolioLine>
                                <tr>
                                    <td><img src="assets/demo/images/asset/{{portfolioLine.asset.abbreviation | lowercase}}.png" [alt]="portfolio.name" height="25" width="25" style="border-radius: 50%" class="shadow-4" /></td>
                                    <td>{{portfolioLine.asset.name}}</td>
                                    <td>{{portfolioLine.asset.lastValue | currency:'USD'}}</td>
                                    <td>{{portfolioLine.quantity}}</td>
                                    <td>{{portfolioLine.value | currency:'USD'}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </p-tabPanel>
        </ng-container>
    </p-tabView>
</div>
