<div class="grid">
    <div class="col-12 md:col-6 ml-auto mr-auto">
        <div class="p-fluid">
            <div class="field">
                <label htmlFor="name">Name</label>
                <input pInputText id="name" type="text" />
            </div>
            <div class="field">
                <label htmlFor="price">Price</label>
                <input pInputText id="price" type="text" />
            </div>
            <div class="field">
                <label htmlFor="quantity">Quantity</label>
                <input pInputText id="quantity" type="text" />
            </div>
            <div class="field">
                <label htmlFor="date">Date</label>
                <p-calendar [(ngModel)]="date" />
            </div>
            <div class="field">
                <label htmlFor="fees">Fees</label>
                <input pInputText id="fees" type="text" />
            </div>
            <div class="field">
                <label htmlFor="note">Note</label>
                <textarea
                    rows="5"
                    cols="30"
                    pInputTextarea>
                </textarea>
            </div>
            <div class="field">
                <label htmlFor="isPurchased">Status</label>
                <p-selectButton
                    [options]="stateOptions"
                    optionLabel="label"
                    optionValue="value" />
            </div>

            <div class="flex-container"
                 style="display: flex; flex-direction: column; align-items: center; padding-top: 2rem"
            >
                <p-button icon="pi pi-check" [rounded]="true" />
            </div>
        </div>
    </div>
</div>
